<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign In</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
		media="screen" th:href="@{./resources/css/bootstrap.min.css}" />
	<link href="../../../resources/css/core.css" rel="stylesheet"
		media="screen" th:href="@{./resources/css/core.css}" />
	<script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{./resources/js/jquery-2.1.4.min.js}"></script>
    <!-- Include Thinbus SRP safe prime config first  -->
	<script th:src="@{./resources/js/rfc5054-safe-prime-config.js}"></script>
	<!-- Include minimised Thinbus SRP JS crypo library, chosen hashing algorithm, configuration  -->
	<script th:src="@{./resources/js/thinbus-srp6a-sha256-versioned.js}"></script>
	<script th:src="@{./resources/js/signin.js}"></script>
</head>
<body>
	<form id="login-form" class="form-narrow form-horizontal" method="post">
		<fieldset>
			<legend>Please Sign In</legend>
			<div class="form-group">
				<label for="email-login" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="email-login"
						placeholder="Email" name="email" value="ruslan.zavackiy@gmail.com" />
				</div>
			</div>
			<div class="form-group">
				<label for="password-login" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" id="password-login"
						placeholder="Password" name="password" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox"
							name="_spring_security_remember_me" /> Remember me
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default" id="loginBtn">Sign
						in</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<p>
						New here? <a href="signup" th:href="@{/signup}">Sign Up</a>
					</p>
				</div>
			</div>
			<!--
			Note this hidden CSRF Token field is nothing to do with SRP it is a built in feature of Spring MVC to defeat cross site request forgery. 
			-->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</fieldset>
	</form>
	<div class="alert alert-success">
		<div id="login-output" style="margin-top: 10px;"></div>
	</div>
	<script th:inline="javascript">
$(function () {
 /**
 Here we demonstrate overriding the default 'options' values of the Login object in the signin.js file.  
 See the comments in signin.js for details of what these values are and their defaults. 
 Note that as SpringMVC has built in CSRF Token support we tell the SRP code to submit that hidden input 
 field else Spring will reject the form submit as a possible CSRF attack. So we white-list that field 
 to post to the server along with the email and the computed proof-of-password. 
 */
  Login.initialize({
   challengeUrl: './challenge',
   securityCheckUrl: '/authenticate',
   emailId: '#email-login',
   passwordId: '#password-login',
   formId: '#login-form',
   whitelistFields: [ 
     'email', 
     '_spring_security_remember_me',
     /*[[${_csrf.parameterName}]]*/ 
   ],
   debugOutput: function (msg) {
	   console.log(msg);
	   $('#login-output').append('<b>'+msg+'</b><br/>');
   }
  });
});
</script>
</body>
</html>